<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    UUID<br />
    <%= f.text_field :order_uuid %>
  </div>
  <div class="field">
    Total<br />
    <%= f.text_field :order_total %>
  </div>
  <div class="field">
    Date<br />
    <%= f.text_field :order_date %>
  </div>
  <div class="field">
    Done<br />
    <%= f.check_box :order_done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
