<% provide(:title, @order.order_uuid) %>
<h2><%= @order.order_uuid %></h2>

<div class="row">
	<div class="span6 offset3">
		<dl class="dl-horizontal">
			<dt>UUID</dt>
			<dd><%= @order.order_uuid %></dd>
			
			<dt>Total</dt>
			<dd><%= number_to_currency(@order.order_total, :unit => "€" ) %></dd>
			
			<dt>Date</dt>
			<dd><%= @order.order_date %></dd>
			
			<dt>Done</dt>
			<dd><%= check_box_tag '', '', @order.order_done, disabled: true %></dd>
		</dl>
		
	<%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary" %>
	</div>
</div>