<% provide(:title, 'Listing Foods') %>
<h1>Listing Foods</h1>

<table id="newspaper-b" >
	<thead>
	  <tr>
	    <th scope="col">Name</th>
	    <th scope="col">Price</th>
	    <th scope="col">Image Url</th>
	    <th scope="col">Ingredient</th>
	    <th scope="col">Place Name</th>
	<% if current_user %>
	    <th></th>
	    <th></th>
	    <th></th>
	<% end %>
	  </tr>
	</thead>
	<tfoot>
	<tr>
		<% if current_user %>
			<td colspan="8"><em>The above data were fictional and made up, please do not sue me</em></td>
		<% else %>
			<td colspan="5"><em>The above data were fictional and made up, please do not sue me</em></td>
		<% end %>
	</tr>
	</tfoot>
	
	<% @foods.each do |f| %>
	  <tr>
	    <td><%= truncate(f.food_name, :length => 20) %></td>
	    <td><%= number_to_currency(f.food_price, :unit => "€" ) %></td>
	    <td><%= truncate(f.food_image_url, :length => 10) %></td>
		<td><%= truncate(f.food_ingredient, :length => 20) %></td>
	    <td><%= f.place.place_name %></td>
		<% if current_user %>
		    <td><%= link_to 'Show', f %></td>
		    <td><%= link_to 'Edit', edit_food_path(f) %></td>
		    <td><%= link_to 'Destroy', f, confirm: 'Are you sure?', method: :delete %></td>
		<% end %>
	  </tr>	
	<% end %>
</table>

<br />

<% if current_user %>
	<%= link_to 'New Food', new_food_path %>
<% end %>