<% provide(:title, 'Create new food') %>
<h1>Create new food</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@food) do |f| %>
			<%= render 'shared/error_food_messages' %>
		
			<%= f.label :food_name, "Name" %>
		    <%= f.text_field :food_name %>
			
		    <%= f.label :food_price, "Price" %>
		    <%= f.text_field :food_price %>
		    
			<%= f.label :food_image_url, "Image url" %>
		    <%= f.text_field :food_image_url %>
		   
		    <%= f.label :food_ingredient, "Ingredient" %>
		    <%= f.text_area :food_ingredient, rows: 5 %>
			
		    <%= f.label :food_place, "Place" %>
			<%= collection_select(:food, :place_id, Place.all, :id, :place_name, { prompt: false }, { id: 'collection-select' }) %>
			
		    <%= f.submit "Create new food", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
