<%= form_for(@place) do |f| %>
<% if @place.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
		<ul>
			<% @place.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="field">
	Name<br />
	<%= f.text_field :place_name %>
</div>
<div class="field">
	Latitude<br />
	<%= f.text_field :place_lat %>
</div>
<div class="field">
	Longitude<br />
	<%= f.text_field :place_log %>
</div>
<div class="field">
	Address<br />
	<%= f.text_field :place_address %>
</div>
<div class="field">
	Opening Time 1<br />
	<%= f.text_field :place_opening_time_1 %>
</div>
<div class="field">
	Opening Time 2<br />
	<%= f.text_field :place_opening_time_2 %>
</div>
<div class="field">
	Opening Time 3<br />
	<%= f.text_field :place_opening_time_3 %>
</div>
<div class="field">
	Opening Time 4<br />
	<%= f.text_field :place_opening_time_4 %>
</div>
<div class="field">
	Phone Number<br />
	<%= f.text_field :place_phone_number %>
</div>
<div class="field">
	Email<br />
	<%= f.text_field :place_email %>
</div>
<div class="field">
	Image Url<br />
	<%= f.text_field :place_image_url %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>