<% provide(:title, @place.place_name) %>
<h2><%= @place.place_name %></h2>

<div class="row">
	<div class="span6 offset3">
		<dl class="dl-horizontal">
			<dt>Name</dt>
			<dd><%= @place.place_name %></dd>
			
			<dt>Latitude</dt>
			<dd><%= @place.place_lat %></dd>
			
			<dt>Longitude</dt>
			<dd><%= @place.place_log %></dd>
			
			<dt>Address</dt>
			<dd><%= @place.place_address %></dd>
			
			<dt>Opening Time 1</dt>
			<dd><%= @place.place_opening_time_1 %></dd>
			
		<% if @place.place_opening_time_2 != "" %>
			<dt>Opening Time 2</dt>
			<dd><%= @place.place_opening_time_2 %></dd>
		<% end %>
			
		<% if @place.place_opening_time_3 != "" %>
			<dt>Opening Time 3</dt>
			<dd><%= @place.place_opening_time_3 %></dd>
		<% end %>
			
		<% if @place.place_opening_time_4 != "" %>
			<dt>Opening Time 4</dt>
			<dd><%= @place.place_opening_time_4 %></dd>
		<% end %>
			
			<dt>Phone Number</dt>
			<dd><%= @place.place_phone_number %></dd>
			
			<dt>Email</dt>
			<dd><%= @place.place_email %></dd>
			
			<dt>Image url</dt>
			<dd><%= @place.place_image_url %></dd>
		</dl>
		
	<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-primary" %>
	</div>
</div>