<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="UTF-8"> 
  <%= stylesheet_link_tag    :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key, value| %>
	        <div class="alert alert-<%= key %>"><%= value %></div>
       <% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>	
</body>
</html>
